/* this gives our compoenent a border and shadow */
#issue-mini{
    border: 1px solid black;
    box-shadow: 2px 2px 7px black;
    margin-top: 3em;
}
/* this styles our issue title */
#issue-title {
    justify-content: center!important;
    margin-top: .5em;
}
/* this styles our issue description */
#issue-description-mini {
    border: 1px solid rgba(0,0,0, 0.2);
    padding: 11px;
    margin: 0 auto;
}
/* this styles our issue external link button */
#view-issue-external {
    width: fit-content;
    margin: 5px auto;
}