/* * {
    background-color: #aba4d8;
}
 */

/* .html {
    background-color: #aba4d8;
} */

.wrapper {
    margin-top: 45px;
    background-color: #aba4d8;
}
    


.about {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 100px;
    
}



.header_title{
    border: 2px solid black;
    margin-bottom: 10px;
    padding: 45px;
    background-color: black;
    color: white;
    font-family: 'Dosis', sans-serif;
}





.profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /* justify-content: center; */
    /* background-color: blue; */
     border-radius: 50%;
     border-radius: 5px 10px 15px 20px; 
     box-shadow: 10px solid black;
     

}



.profile-jeff {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
     border-radius: 5px 10px 15px 20px; 
     box-shadow: 5px 5px 30px 5px  blue;
}


.profile p {
    color: green;
    border-style: solid;
    margin-top:30px;
    padding: 10px;
}
.about_button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.description {
    width: 50%;
    border: 2px solid black;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}