/* this styles are event title so it centers on the main event page */
#event-title {
    text-align: center;
}
/* styling for profile image */
#profile-image {
    height: 123px;
    width: 155px;
    background-color: black;
    color: white;
}
/* styling for event info box under profile image */
#event-info {
    width : 155px;
}
/* this styles our event description so the text is centered */
#event-description {
    text-align: center;
}