.wrapper {
       /* testing do not remove */
    min-height: 100%; 
    /* display: grid;
    grid-template-rows: auto 1fr auto; */
   position: relative;
   
}

.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    font-size: var(--fs-h3);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin-top: 5px;
} 

.footer a {
    color: inherit;
    text-decoration: none;

    
}

.footer__link {
    font-weight: var(--fw-bold);
}
.footer__link:hover,
.social-list__link:hover {
    opacity: .7;

}

.footer__link:hover {
    text-decoration: underline;;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 0;

}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}


