/* this styles the entire component with a border and shadow and space above */
#event-med {
    border: 1px solid black;
    box-shadow: 2px 2px 7px black;
    margin-top: 3em;
}
/* this styles the event title so it fits snugly on the left */
#event-title {
    text-align: center;
    max-width: fit-content;
    margin-top: 1em;
    margin-left: 1em;
}
/* this styles the date so it fits correctly on the right */
#event-date {
    text-align: center;
    max-width: fit-content;
    margin-top: 1em;
    margin-right: 1em;
}
/* this styles our mini description */
#event-description-med {
    border: 1px solid rgba(0,0,0, 0.2);
    padding: 11px;
    margin: 0 auto;
}
/* this styles our button so it doesn't expand beyond its content */
#view-event-main {
    max-width: fit-content;
}
/* this bar holds are buttons the go with the minified event component */
#event-button-bar {
    padding: 1em;
}