.about {
  margin: 20px;
  /* background-image: url(../../images/tree.png); */

}


header {
  align-items: center;
  justify-content: center;
}

.header_title {
  border: 2px solid black;
  margin-bottom: 10px;
  padding: 45px;
  background-color: black;
  color: white;
  font-family: "Dosis", sans-serif;
  text-align: center;
  background-image:url(../../images/bird.png);
  background-size: 100px;
  background-position: cover;
  background-repeat: no-repeat;;
}

.circle {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #669db3ff;
  margin: auto;
  display: flex;
}



.circle2 {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #F0F5F8;
  margin: auto;
  display: flex;
}
  
.circle3{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #FF4F58FF;
  margin: auto;
  display: flex;
}

.circle4{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #A89C94FF;
  margin: auto; 
  display: flex;
}

.profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.profile-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 150px;
  height: 150px;
  margin-bottom: auto;
}

h3 {
  font-family: "Dosis", sans-serif;
  text-align: center;
  color: black;
  margin-top: 50px;
  padding: 10px;
  text-align: center;
}

.about_button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-weight: bold;
}

.description {
  width: 50%;
  font-weight: 10px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    /* background-image: url(../../images/tree2.png); */
  background-repeat: no-repeat;
  opacity: 1.0;
  background-color: rgba(255,255,255,0.5);
}

.story{
  font-weight: bold;
}

.info {
   font-weight: bold;
}

.social-list__item {
  background-color: black;
}

.social-list__item1 {
  background-color: #2877B5;  
}

.social-list__item0 {
  background-color: black;
}

.social-list__item2 {
  background-color: #c71511
}

.social-list__item3 {
  background-color: #4267B2 
}

.fab {
  color: white;
  width: 45px;
  text-align: center;
}

.fas {
  width: 45px;
  color: white;
  text-align: center;
}